<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cree.mvp">
    <!--===============需要在项目gradle里面再进行配置-权限====================-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--===============需要在项目gradle里面再进行配置-注册activity====================-->
        <!--<activity-->
        <!--android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"-->
        <!--android:exported="true"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/Theme_Light.Default" />-->
        <!--<activity-->
        <!--android:name="com.yalantis.ucrop.UCropActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/Theme_Light.Default" />-->
    </application>
    <!--===============在项目manifest里面注册====================-->
    <!-- <activity
         android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
         android:exported="true"
         android:screenOrientation="portrait"
         android:theme="@style/Theme_Light.Default" />
     <activity
         android:name="com.yalantis.ucrop.UCropActivity"
         android:screenOrientation="portrait"
         android:theme="@style/Theme_Light.Default" />-->
</manifest>
